*{
    font-family: Arial, Helvetica, sans-serif, monospace;
    margin:0;
    padding:0;
}

nav{
    background-color:#2e2e2e;
    width: 100%;
    display:flex;
    clear:both;
	
}
nav li{
    font-family: 'Courier New', monospace;
}
nav i{
	float: right;
	margin-right: 10px;
}

#foto{
    width:15%;
    padding-left:3%;
    padding-top: 5px;
	margin-left: 12%;
}
nav li{
    display: inline-block;
}
nav a{
    text-decoration: none;
    color:white;
    font-weight: bolder;
    font-family: 'Courier New', monospace;
}

nav ul li::after{
	content: " ";
	width: 0%;
	height: 4px;
	background-color: gray;
	left: 0;
	bottom: 0;
	top:2;
	transition: all 0.5s ease-in;
	position: absolute;
}

nav ul li:hover::after{
	width:100%;
}

nav ul{
    float:left;
    list-style:none;
    text-align:center;
    margin-left: 150px;
    transform:translateX(-50px);
	
}
nav ul li:hover{
    background-color: black;
	--border-bottom: 4px solid gray;
}
 nav ul li{
    position: relative;
    padding:30px 30px 30px 30px;
    transition: all 0.5s ease-in;
    cursor: pointer;

 }

 #lingua{
    float: left;
    margin-top: 20px;
    padding-left: 10px;
}
 
#linguagem{
    margin-left: 5px;
}
 
#chave{
	font-weight:bolder;
}
#container{
	width: 80%;
	background-color: white;
	margin-left:10%;
	margin-bottom:3%;
	border-radius: 10px;
	padding-bottom:5%;
	box-shadow: 0px 0px 1px 1px #333;
 }
 #container:last-child{
	margin-bottom:5%;
 }

#container h3{
	padding:2%;
	color: white;
}

#container a{
    text-decoration: none;
}

#header{
	background-color:#333;
	border-radius: 10px 10px 0px 0px;
	
}

main{
    background-size: 100%;
    width: 100%;
}

main h1{
    padding-top: 5%;
    border-bottom: 2px solid white;
    padding-bottom: 3%;
    margin-left: 8%;
    margin-right: 8%;
}

main p{
    margin-top: 2%;
    padding-right: 2%;
}

#conteudo_introducao{
    margin-left: 5%;
    width:60%;
	font-family: arial;
}


#container_conteudo{
    margin-left: 23%;
    width:70%;
    margin-top: 3%;
}



#main_2 h1{
    padding-left:0px;
}


#titulosaiba{
    border-bottom: 2px solid #b8b8bb;
    padding-bottom: 4px;
    color:#79927d;
}

#textos{
    border-left: 2px solid gray;
    padding-left :0.5em !important;
    margin-left: 2%;
}

p{
    padding-left: 1%;
}
#conteudo_principal{
	margin-right:5%;
	margin-top:2%;
	display:inline-block;
    width: 80%;
}

#conteudo_footer{
	margin-top:2%;
	border: 3px solid white;
	display:inline-block;
    background-color:#333333;
    color:white;
    width: 100%;
}


#sobreoprojeto{
	width:30%;
	padding-left:5%;
	padding-top:3%;
	display:inline-block;
	padding-bottom:4%;
}

#sobreoprojeto p{
    color: white;
}

#contatos{
	width:40%;
	float: right;
	display:inline-block;
	padding-top:3%;
}

#contatos ul{
	list-style-type:none;
}

#footer_baixo{
	padding-left:32%;
	padding-top:1%;

	margin-right:10%;
    transform: translateX(-150px);
}


iframe{
	border-radius: 10px;
	border: 2px solid gray;
}


button{
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    display: inline-block;
    font-family: 'Courier new', monospace;
    background-color:#2e2e2e;
    border: 1px solid #2e2e2e;
    border-right: 2px solid gray
}

button:hover{
    background-color: black;

}

button:active{
    background-color: black;
}


.carrossel {
    position: relative;
    width: 30%;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
    width:31%;
	FLOAT:right;
	transform: translateY(-350px);
    padding-left: 10PX;;
}

.slides {
    display: flex;
    animation: slideAnimation 9s infinite;
}

.slide {
    min-width: 100%;
    height: auto;
}

img {
    width: 60%;
    height: auto;
}

#acessibilidade{
    padding-top: 15px;
    float: right;
}


.autores{
    
    width: 80%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.autores .p{
    text-align: center;
}

.obras-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px; 
    margin-top: 30px;
    padding-right: 30px; 
}

.obras {
    width: 150px;
    text-align: center;
    background-color: #9c8c51;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
}

.obras img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.obras p {
    
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
}

h1{
    text-align: center;
}

.contraste{
    background-color: black;
    color: white;
    border: 2px solid yellow;
}


#saibamais{
	margin-right: 12%;
	margin-left: 12%;
	width:80%;}
#titulosaiba{
    border-bottom: 2px solid #b8b8bb;
    padding-bottom: 4px;
}


iframe{
	margin-right:2%;
}

#autores1{
	width:100%;
	display:flex;
	background-color: #e8e3c6;
	border-radius:10px;
	filter: brightness(60%);
	margin-bottom:1%;
    transition: all 0.5s ease-in;
	transition: all 0.5s ease-out;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 16px;
    gap: 20px;
    align-items: center;
}
#autores1:hover{
	filter: brightness(100%);
}
#autores2{
	display:flex;
	width:100%;
	border-radius:10px;
	margin-bottom:1%;
	background-color: #b6b6b6;
	filter: brightness(60%);
    transition: all 0.5s ease-in;
	transition: all 0.5s ease-out;
    gap: 20px;
    align-items: center;
    
}
#autores2 img{
    height: 80% !important;
}
#autores2:hover{
	filter: brightness(100%);
	transition: all 0.5s ease-in;
	transition: all 0.5s ease-out;
}
#autores2 p{
    padding-top: 5% !important;
}
#autores3{
	display:flex;
	width:100%;
	filter: brightness(60%);
	border-radius:10px;
	margin-bottom:1%;
	background-color: #dbdbdb;
    transition: all 0.5s ease-in;
	transition: all 0.5s ease-out;
    gap: 20px;
    align-items: center;

}
#autores3:hover{
	filter: brightness(100%);
	transition: all 0.5s ease-in;
	transition: all 0.5s ease-out;

}
#autores4{
	display:flex;
	width:100%;
	border-radius:10px;
	filter: brightness(60%);
	margin-bottom:1%;
	background-color:#e6d6bb;
    transition: all 0.5s ease-in;
	transition: all 0.5s ease-out;
    gap: 20px;
    align-items: center;

}
#autores4:hover{
	filter: brightness(100%);
	transition: all 0.5s ease-in;
	transition: all 0.5s ease-out;
}
#autores5{
	display:flex;
	width:100%;
	border-radius:10px;
	margin-bottom:1% ;
	background-color: #eeeeee;
	filter: brightness(60%);
    transition: all 0.5s ease-in;
	transition: all 0.5s ease-out;
    gap: 20px;
    align-items: center;

}
#autores5:hover{
	filter: brightness(100%);
	transition: all 0.5s ease-in;
	transition: all 0.5s ease-out;
}

#mais_autores img{
	width:10%;
	border-radius:10px;
}

#mais_autores h4{
	padding-top:3%;
	font-weight:bolder;
	font-family: 'Courier New', monospace;
}

#mais_autores{
	border-radius:10px;
    

}

#mais_autores a{
    text-decoration: none;
    color: black;
}

#onde{
    text-align: center;
    font-weight: bold;
    margin-bottom: 3%;
}

footer a{
    text-decoration: none;
    color: white;

}

.pequeno_texto{
	font-size:10px;
	font-style: italic;
	padding-left: 2%;
}

#play{
    margin-right: 3%;
}

#arrumar1{
    padding-bottom: 12%;
    padding-top: 17%;
}


#arrumar2{
    padding-top: 17%;
}

#arrumar3{
    padding-top: 12%;
    padding-bottom: 15%;
}

#arrumar4{
    padding-top:12%;

}

#sesi_senai{
	float: right;
}

#escola{width:15%; float: right;}
#escola1{width:14%; float: right; transform: translateY(-10px);}

#chave_dois{
	font-weight:bolder;
}

#chave_tres{
	font-weight:bolder;
}

#chave_quatro{
	font-weight:bolder;
}

#chave_cinco{
	font-weight:bolder;
}